.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        right: 6rem;
        top: 6rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }
        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient( $color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform 0.8s;
        //transform: scale(80);
        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }
        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }
    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        //sakrije nav
        opacity: 0;
        width: 0;
        transition: all 0.8s;
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient( 120deg, transparent 0%, transparent 50%, $color-black 50%);
            background-size: 220%;
            transition: all 0.4s;
            span {
                margin-right: 1.5rem;
            }
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
    // ovdje kad se klikne background se proteze za 80 prekriva sve
    &__checkbox:checked~&__background {
        transform: scale(80);
    }
    //kad je cekiran tj kliknut nav je bio opacity nula sad je 1 kad se cekira i width je sa 0 na 100%
    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }
    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3.2rem;
            height: 3px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }
        //1 i 3 crtica gore -0.8 i treca dole 0.8
        &::before {
            top: -0.8rem;
        }
        &::after {
            top: 0.8rem;
        }
    }
    //Hover on button desava se da se 1 i 3 crtica pomjere gore i dole za 0.3rem
    &__button:hover &__icon::before {
        top: -1.1rem;
    }
    &__button:hover &__icon::after {
        top: 1.1rem;
    }
    //checked i checkbox i button za icon
    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }
    //da bude u krugu X kada je otvoren obavezno ovo top:0
    //i ovo je rotacija za 135 deg i bude / a drugi \
    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}