.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        //Change for the <button> elemnt
        border: none;
        cursor: pointer;
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        font-size: 1.6rem;
        &:active {
            transform: translateY(-6rem);
        }
        &:hover {
            transform: translateY(-0.6rem);
            box-shadow: 2rem 1rem 12rem rgba($color-black, 0.2);
            background-color: black;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;
        &::after {
            background-color: $color-primary;
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all 0.2s;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-3px);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateX(0);
    }
}