.composition {
    position: relative;
    &__photo {
        width: 55%; //velicina
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 0.3rem;
        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.3333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
        }
        &--p1 {
            left: 0;
            top: -2rem;
            //pomjeranje slika ka gore, i da jedna vise istaknuta druge dve manje i sa z-index p2 ima prednost
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }
        &--p2 {
            right: 0;
            top: 2rem;
            @include respond(tab-port) {
                top: 0;
                transform: scale(1.3);
                z-index: 100;
            }
        }
        &--p3 {
            left: 20%;
            top: 10rem;
            @include respond(tab-port) {
                top: 0;
                left: 0;
                transform: scale(1.1);
            }
        }
        &:hover {
            transform: scale(1.55);
            z-index: 20; //Ovdje 20 da se zna kad hover radi da je ovaj prvi u prikazu, tj ispred ostalih
            outline: 0.5rem solid $color-primary;
        }
    }
    //moze da ide a i ne mora
    &:hover &__photo:not(:hover) {
        transform: scale(1);
    }
}