.form {
    transform: translateX(4rem);
    //Za svaki osim zadnjeh odvoji mu donji prostor 2rem
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    //Za input kako da izgleda koji je font, border, velicina width, display
    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: none;
        width: 60%;
        display: block;
        transition: all 0.3s;
        @include respond(tab-port) {
            width: 80%;
        }
        //focus kad je kliknuto na njega
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary;
        }
        //a kad nije dobro uneseno
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
    }
    //Za placeholder u inputu da ga ne prikaziva kad se unese nesto
    //a uneseno u labelu prikaziva kad se unese input
    //label name za id inputa da budu isti da bi bili uvezani npr id je name i for je name u labelu
    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
    }
    &__radio-group {
        width: 49%;
        display: inline-block;
        //za do 900px
        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    &__radio-input {
        display: none;
    }
    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    //kruzic sa visinom debljinom, borderom, radius 50% za krug position pomeranje
    //imamo after gdje je to kao mali kruzic
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.4rem;
        //mali kruzic sa visinom i deblj 1.3rem i on je opacity:0 ne vidljiv; Vidljiv je kad se cekira
        &::after {
            content: '';
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
        }
    }
    //vidljiv radio-buttton kad se radion:input ili radio-label cekira
    &__radio-input:checked~&__radio-label &__radio-button::after {
        opacity: 1;
    }
}