*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //1 rem is 16px; fontsize 62.5% je 62.5/100 * 16
    font-size: 62.5%;
    @include respond(phone) {
        font-size: 30%; //4.8 / 16px * 100
    }
    @include respond(tab-port) {
        font-size: 50%; //6px / 16px *100 = 50%
    }
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(big-desktop) {
        font-size: 75%; // 1rem 12px, 12/16*100 = 75%
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
    @include respond(tab-port) {
        padding: 0;
    }
}