.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 3rem;
    backface-visibility: hidden;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 4rem;
        }
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        @include respond(phone) {
            letter-spacing: 0.5rem;
        }
    }
}

.heading-secondary {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient( to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text; //otkine backgraound ostavit samo text
    color: transparent; //i dodjeljivanje boje textu
    transition: all 0.6s; //for all transform koliko traje
    letter-spacing: 2px;
    @include respond(tab-port) {
        font-size: 2.3rem;
    }
    @include respond(phone) {
        font-size: 1.5rem;
    }
    &:hover {
        transform: skewY(2deg) skewX(20deg); //pomjeranje ka Y osi za 2deg i X 20deg
        text-shadow: 0.5rem 3rem 6rem rgba(#000000, 1); //Sjenka okolo kad se prinese misem, 0.5 rem koliko u desno, 3 rem koliko ka dole, trece 6rem velicina sjenke
    }
}

.heading-tertiary {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-black;
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}